keybinds clear=true {
    bind "Alt e" {
        MessagePlugin "zen-ide-manager" {
            name "toggle_sidebar"
            floating false
        }
    }
    bind "Alt r" {
        MessagePlugin "zen-ide-manager" {
            name "toggle_terminal"
            floating false
        }
    }
}
